@font-face{
		font-family: "Gotham light";
		src: url('../fonts/ufonts.com_gotham-light.ttf') format('truetype');
	}
html,body{

	font-family: "Gotham light", Helvetica, Arial, sans-serif;
	
	
}
/*header{
	height:250px;
}*/
	