$seperator: 26px;
$light-grey: #efefef;
$light-black: #333;
$tropical-rain-forest-green: #067a65;
$white: #fff;
$black-mixed-green: #188d7b;
$green-color: #44b38b;
$off-black: #083843;
$very-dark-blue: #002d72;
$black: #000;
$Very-dark-grayish-red: #686666;
$twenty-three: 1.4rem;
$gray95: #F2F2F2;
$londonhue:#A6A6A4;